body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #0b0f1a, #000);
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

h1 {
  color: #ff2e2e;
  font-size: 32px;
}

.bet-box {
  margin: 20px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 160px;
  font-size: 16px;
}

button {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  background: lime;
}

.cash {
  background: #00ff88;
  margin-top: 10px;
}

canvas {
  margin-top: 20px;
  background: black;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,255,0,0.3);
}