body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

#gameBox {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    border: 2px solid lime;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background: lime;
    border: none;
    cursor: pointer;
}